{% extends "base.html" %}
{% load static %}

{% block content %}	
        <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
	    <!-- App Css-->
        <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

        {% comment %} <script src="https://www.chartjs.org/dist/2.9.4/Chart.min.js"></script> {% endcomment %}
        <script src="{% static 'js/Chart.min.js' %}"></script>
        
        <style>
            .tabcontent {
                display: none;
                padding: 6px 12px;
                border: 1px solid #ccc;
                border-top: none;
            }
            .tabcontent {
                animation: fadeEffect 1s; /* Fading effect takes 1 second */
            }
            /* Go from zero to full opacity */
            @keyframes fadeEffect {
                from {opacity: 0;}
                to {opacity: 1;}
            }
        </style>

        <div id="layout-wrapper"> 
                <div class="container-fluid">
                    <div class="topnav">
                        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">    
                            <div class="collapse navbar-collapse" id="topnav-menu-content">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" onclick="openTab(event, 'investment-overview')" id="defaultOpen">
                                            <i class="uil-dollar-alt mr-2"></i> 投资总览
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" onclick="openTab(event, 'portfolio-insights')">
                                            <i class="uil-briefcase-alt mr-2"></i> 投资组合分析
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" onclick="openTab(event, 'recommendations')">
                                            <i class="uil-thumbs-up mr-2"></i> 基金推荐
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" onclick="openTab(event, 'news')">
                                            <i class="uil-newspaper mr-2"></i> 风险测试
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>    
            <!-- Investment Overview -->
            <div id="investment-overview" class="tabcontent">
                <div class="main-content" >
                    <div class="page-content">
                        <div class="container-fluid">
                            <!-- start page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-title-box d-flex align-items-center justify-content-between">
                                        <h4 class="mb-0">投资总览</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->

                            <div class="row">
                                <div class="col-md-6 col-xl-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="float-right mt-2">
                                                <div id="total-investment-chart"></div>
                                            </div>
                                            <div>
                                                <h4 class="mb-1 mt-1">￥<span data-plugin="counterup">{{ totalInvestment | floatformat:2 }}</span></h4>
                                                <p class="text-muted mb-0">总投资</p>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end col-->

                                <div class="col-md-6 col-xl-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="float-right mt-2">
                                                <div id="current-value-chart"></div>
                                            </div>
                                            <div>
                                                <h4 class="mb-1 mt-1" id="current-value">￥<span data-plugin="counterup">Current Value</span></h4>
                                                <p class="text-muted mb-0">当前价值</p>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end col-->

                                <div class="col-md-6 col-xl-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="float-right mt-2">
                                                <div id="pnl-chart"></div>
                                            </div>
                                            <div>
                                                <h4 class="mb-1 mt-1" style="color:#34c38f;" id="unrealized-pnl"><span data-plugin="counterup">Unrealized P&L</span></h4>
                                                <p class="text-muted mb-0">未实现盈亏</p>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end col-->

                                <div class="col-md-6 col-xl-3">

                                    <div class="card">
                                        <div class="card-body">
                                            <div class="float-right mt-2">
                                                <div id="growth-chart"></div>
                                            </div>
                                            <div>
                                                <h4 class="mb-1 mt-1" style="color:#34c38f;" id="growth"><span data-plugin="counterup">Growth</span> %</h4>
                                                <p class="text-muted mb-0">增长率</p>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end col-->
                            </div> <!-- end row-->


                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title mb-4">当前持有基金
                                            <button 
                                                style="float: right; margin-bottom: 10px; background-color: #50a5f1; border-color: #50a5f1;" 
                                                type="button" class="btn btn-primary btn-sm-12 btn-md-6 btn-rounded waves-effect waves-light"
                                                data-toggle="modal" data-target="#myModal">
                                                <i class="fa fa-plus"></i> &nbsp;添加持有基金
                                            </button></h4>

                                            <!-- Modal -->
                                            <div id="myModal" class="modal fade" role="dialog">
                                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">添加基金到您的投资组合</h4>
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form id="add-holding-form" method="post" action="{% url 'myfunds:add-holding' %}">
                                                                {% csrf_token %}
                                                                <div class="form-group row mb-4">
                                                                    <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">基金代码 :</label>
                                                                    <div class="col-sm-9">
                                                                        <select name="fund" class="form-control select2 select2-hidden-accessible" id="fund" data-select2-id="1" tabindex="-1" aria-hidden="true"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row mb-4">
                                                                    <label for="example-date-input" class="col-sm-3 col-form-label">购买日期</label>
                                                                    <div class="col-sm-9">
                                                                        <input name="date" class="form-control" type="date" value="" id="example-date-input" max="">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row mb-4">
                                                                    <label for="example-date-input" class="col-sm-3 col-form-label">持有份数</label>
                                                                    <div class="col-sm-9">
                                                                        <input name="number-funds" class="form-control" type="number" value="0" min="0" step="1" id="number-funds">
                                                                    </div>
                                                                </div>
                                                                <div class="row mt-4 justify-content-center">
                                                                    <button type="submit" class="btn btn-primary w-md">提交</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="table-responsive">
                                                <table class="table table-centered table-nowrap mb-0" id="portfolio-table">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th class="text-center">基金名称</th>
                                                            <th class="text-center">持有份数</th>
                                                            <th class="text-center">平均持有成本</th>
                                                            <th class="text-center">最新累计净值</th>
                                                            <th class="text-center">投资金额</th>
                                                            <th class="text-center" class="font-weight-bold">盈亏</th>
                                                            <th class="text-center">收益率</th>
                                                            <th class="text-center">详细...</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for c in holdings %}
                                                        <tr id="{{ c.FundSymbol }}">
                                                            <td class="text-center font-weight-bold" style="font-size: 20px;">{{c.FundName}}</td>
                                                            <td class="text-center font-weight-bold" style="font-size: 20px;">{{ c.NumberShares }}</td>
                                                            <td class="text-center font-weight-bold" style="font-size: 20px;">$ {{ c.AverageCost | floatformat:2 }}</td>
                                                            <td class="text-center font-weight-bold" style="font-size: 20px;">LTP</td>
                                                            <td class="text-center font-weight-bold" style="font-size: 20px;">$ {{ c.InvestmentAmount | floatformat:2 }}</td>
                                                            <td class="text-center font-weight-bold" style="font-size: 20px;">PNL</td>
                                                            <td class="text-center font-weight-bold" style="font-size: 20px;">Net Change</td>
                                                            <td class="text-center">
                                                                <button 
                                                                    type="button" class="btn btn-primary btn-md btn-rounded waves-effect waves-light"
                                                                    data-toggle="modal" data-target="#funddetails-{{ c.FundSymbol }}" onclick="getFinancials('{{ c.FundSymbol }}')">
                                                                    View Details
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- end table-responsive -->

                                            {% for c in holdings %}
                                                <!-- Modal -->
                                                <div id="stockdetails-{{ c.FundSymbol }}" class="modal fade" role="dialog">
                                                    <div class="modal-dialog modal-dialog-centered modal-xl">
                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">{{ c.FundName }} ({{ c.FundSymbol }})</h4>
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="col-12 justify-content-center">
                                                                    <div class="tradingview-widget-container">
                                                                    </div>
                                                                </div>
                                                                <div class="col-12 justify-content-center">
                                                                    <div class="tradingview-widget-container">
                                                                        <div id="tradingview_{{ c.CompanySymbol }}"></div>
                                                                        <div class="tradingview-widget-copyright">&nbsp;</div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" id="financials-{{ c.FundSymbol }}">
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->
                        </div> <!-- container-fluid -->
                    </div>
                    <!-- End Page-content -->

                </div>
                <!-- end main content-->
            </div>

        </div>    

    
{% endblock %}

{% block script %}
        <!-- JAVASCRIPT -->
        <script src="{% static 'dashboard/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'dashboard/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'dashboard/libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'dashboard/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'dashboard/libs/node-waves/waves.min.js' %}"></script>
        <script src="{% static 'dashboard/libs/waypoints/lib/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'dashboard/libs/jquery.counterup/jquery.counterup.min.js' %}"></script>

        <!-- apexcharts -->
        <script src="{% static 'dashboard/libs/apexcharts/apexcharts.min.js' %}"></script>

        <script src="{% static 'dashboard/js/pages/dashboard.init.js' %}"></script>

        <script src="{% static 'dashboard/js/app.js' %}"></script>

        <script>
            function updateData(data) {
                funddata = data["FundData"];
                currentValue = parseFloat(data["CurrentValue"]).toFixed(2);
                unrealizedPNL = parseFloat(data["UnrealizedPNL"]).toFixed(2);
                growth = parseFloat(data["Growth"]).toFixed(2);
                var tableRows = document.getElementById("portfolio-table").tBodies[0].rows;
                for (var i = 0; i < tableRows.length; i++) {
                    var tableData = tableRows[i].getElementsByTagName('td');
                    tableData[3].innerHTML = "$ " + funddata[tableRows[i].id]["LastTradingPrice"].toFixed(2);
                    if (funddata[tableRows[i].id]["PNL"] > 0) {
                        tableData[5].style.color = "#34c38f";
                        tableData[6].style.color = "#34c38f";
                        tableData[5].innerHTML = "+ $ " + funddata[tableRows[i].id]["PNL"].toFixed(2);
                        tableData[6].innerHTML = "+ " + funddata[tableRows[i].id]["NetChange"].toFixed(2) + " %";
                    } else {
                        tableData[5].style.color = "#f46a6a";
                        tableData[6].style.color = "#f46a6a";
                        tableData[5].innerHTML = "- $ " + Math.abs(funddata[tableRows[i].id]["PNL"].toFixed(2));
                        tableData[6].innerHTML = "- " + Math.abs(funddata[tableRows[i].id]["NetChange"].toFixed(2)) + " %";
                    }
                }
                var currentValueHeading = document.getElementById("current-value").getElementsByTagName("span")[0];
                currentValueHeading.innerHTML = currentValue;
                var unrealizedPNLHeading = document.getElementById("unrealized-pnl");
                var growthHeading = document.getElementById("growth");
                
                if (unrealizedPNL > 0) {
                    unrealizedPNLHeading.style.color = ":#34c38f";
                    growthHeading.style.color = ":#34c38f";
                    unrealizedPNLHeading.getElementsByTagName("span")[0].innerHTML = "+ $ " + Math.abs(unrealizedPNL);
                    growthHeading.getElementsByTagName("span")[0].innerHTML = "+ " + Math.abs(growth);
                } else {
                    unrealizedPNLHeading.style.color = "#f46a6a";
                    growthHeading.style.color = "#f46a6a";
                    unrealizedPNLHeading.getElementsByTagName("span")[0].innerHTML = "- $ " + Math.abs(unrealizedPNL);
                    growthHeading.getElementsByTagName("span")[0].innerHTML = "- " + Math.abs(growth);
                }
            }

            function getUpdatedValues() {
                $.ajax({
                    type: "GET",
                    url: "/update-prices",
                    dataType: "json",
                    success: function(data) {
                        if (data.hasOwnProperty('Error')) {
                            alert('Error at backend\n' + "Message: " + data['Error']);
                        } else {
                            updateData(data);
                        }
                    }
                });
            }

            getUpdatedValues();
            var callUpdateFunction = setInterval(getUpdatedValues(), 1000 * 60 * 5); // where X is your every X minutes
        </script>

        <!-- Script for submitting the form with AJAX -->
        <script>
            function addFundHoldingResult(data) {
                if (data === "Success") {
                    $('#myModal').modal('toggle');
                    alert("基金持有信息被成功加入到您的投资组合中");
                    location.reload();
                } else {
                    alert("在加入基金持有信息时出错\n"); // + "Message: " + data);
                }
            }

            $("#add-holding-form").submit(function(e) {
                e.preventDefault(); // avoid to execute the actual submit of the form.
                var form = $(this);
                var url = form.attr('action');
                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(),
                    success: function(data) { addFundHoldingResult(data) }
                });
            });
        </script>

        <!-- Script for getting the list of companies for showing it in the add new holding dropdown -->
        <!-- This will be called only once -->
        <script>
            function processData(data) {
                var datalist = document.getElementById("fund");
                for (var i = 0; i < data.length; i++) {
                    var option = document.createElement("option");
                    option.innerHTML = data[i][1] + " &nbsp;(" + data[i][0] + ")";
                    datalist.append(option);
                }
            }

            $(document).ready(function() {
               $.ajax({
                    type: "GET",
                    url: "/fund-list",
                    dataType: "json",
                    success: function(data) { processData(data["data"]); }
                });
            });
        </script>

        <!-- Script for getting the date value -->
        <script>
            function getDate() {
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();

                if(dd<10) {
                    dd = '0'+dd
                } 

                if(mm<10) {
                    mm = '0'+mm
                } 

                today = yyyy + '-' + mm + '-' + dd;
                document.getElementById("example-date-input").value = today;
                document.getElementById("example-date-input").max = today;
            }

            $(document).ready( function () {
                getDate();
            });
        </script>

        <!-- Script for working of navbar options -->
        <script>
            function getPortfolioInsights() {
                $.ajax({
                    type: "GET",
                    url: "/get-portfolio-insights",
                    dataType: "json",
                    success: function(data) {
                        if (data.hasOwnProperty('Error')) {
                            // alert('Error at backend\n' + "Message: " + data['Error']);
                            getPortfolioInsights();
                        } else {
                            var betaElement = document.getElementById("portfolio-beta");
                            var betaElementTxt = document.getElementById("portfolio-beta-text");
                            betaElement.innerHTML = parseFloat(data["PortfolioBeta"]).toFixed(2);
                            betaElementTxt.innerHTML = `Your portfolio moves by a factor of ${ parseFloat(data["PortfolioBeta"]).toFixed(2) } in the direction of market swing`;
                            var peElement = document.getElementById("portfolio-pe");
                            peElement.innerHTML = parseFloat(data["PortfolioPE"]).toFixed(2);
                        }
                    }
                });
            }

            function openTab(evt, tabName) {
                // Declare all variables
                var i, tabcontent, tablinks;
                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("nav-link");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(tabName).style.display = "block";
                evt.currentTarget.className += " active";

                if (tabName === "portfolio-insights") {
                    getPortfolioInsights();
                }
            }
            document.getElementById("defaultOpen").click();
        </script>

        <!-- Donut Charts -->
        <script>
            function generateRandomColors(length) {
                var colors = [];
                for (let i = 0; i < length; i++) {
                    var randomColor = Math.floor(Math.random()*16777215).toString(16);
                    colors.push("#" + randomColor);
                }
                return colors;
            }

            var accounts = {
                'data': [100],
                'labels': ['equity']
            };

            var sectorsdata = {{ sectors.0 }};
            var sectorslabels = JSON.parse('{{ sectors.1 }}'.replace(new RegExp("&"+"#"+"x27;", "g"), '"'));
            var sectors = {
                'data': sectorsdata,
                'labels': sectorslabels
            };

            var stocksdata = {{ stocks.0 }};
            var stockslabels = JSON.parse('{{ stocks.1 }}'.replace(new RegExp("&"+"#"+"x27;", "g"), '"'));
            var stocks = {
                'data': stocksdata,
                'labels': stockslabels
            };

            var accountChartConfig = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: accounts['data'],
                        backgroundColor: generateRandomColors(accounts['data'].length),
                    }],
                    // These labels appear in the legend and in the tooltips when hovering different arcs
                    labels: accounts['labels']
                },
                options: {
                    responsive: true,
                    legend: {
                    position: 'right',
                    },
                    animation: {
                    animateScale: true,
                    animateRotate: true
                    }
                }
            };
            var sectorChartConfig = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: sectors['data'],
                        backgroundColor: generateRandomColors(sectors['data'].length),
                    }],
                    // These labels appear in the legend and in the tooltips when hovering different arcs
                    labels: sectors['labels']
                },
                options: {
                    responsive: true,
                    legend: {
                    position: 'right',
                    },
                    animation: {
                    animateScale: true,
                    animateRotate: true
                    }
                }
            };
            var stockChartConfig = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: stocks['data'],
                        backgroundColor: generateRandomColors(stocks['data'].length),
                    }],
                    // These labels appear in the legend and in the tooltips when hovering different arcs
                    labels: stocks['labels']
                },
                options: {
                    responsive: true,
                    legend: {
                    position: 'right',
                    },
                    animation: {
                    animateScale: true,
                    animateRotate: true
                    }
                }
            };
            window.onload = function() {
                var ctx1 = document.getElementById('account-chart-container').getContext('2d');
                window.myDoughnut1 = new Chart(ctx1, accountChartConfig);
                var ctx2 = document.getElementById('sector-chart-container').getContext('2d');
                window.myDoughnut2 = new Chart(ctx2, sectorChartConfig);
                var ctx3 = document.getElementById('stock-chart-container').getContext('2d');
                window.myDoughnut3 = new Chart(ctx3, stockChartConfig);
            };
        </script>    

{% endblock %}