{% extends "base.html" %}

{% load static %}
{% block content %}
	<!-- banner -->
	<section class="banner">
		<div class="callbacks_container">
			<ul class="rslides" id="slider3">
				<li>
					<div class="slider-info bg1">
						<div class="banner-text container">
							<h4 class="movetxt text-left mb-3 agile-title text-capitalize"></h4>
							<p class="text-white mb-3">风险提示：基金投资需谨慎！！</p>
							<a class="bt text-capitalize" href="about.html" role="button"> 发现 
								<i class="fas fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</li>
				<li>
					<div class="slider-info bg2">
						<div class="banner-text container">
							<h4 class="movetxt text-left mb-3 agile-title text-capitalize"></h4>
							<p class="text-white mb-3">风险提示：基金投资需谨慎</p>
							<a class="bt text-capitalize" href="about.html" role="button"> 发现
								<i class="fas fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</li>
				<li>
					<div class="slider-info bg3">
						<div class="banner-text container">
							<h4 class="movetxt text-left mb-3 agile-title text-capitalize"></h4>
							<p class="text-white mb-3">风险提示：基金投资需谨慎</p>
							<a class="bt text-capitalize" href="about.html" role="button"> 发现
								<i class="fas fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<!-- //banner -->
	<!-- Products -->
	<section class="services py-5">
		<div class="container py-md-4 mt-md-3"> 
			<h2 class="heading-agileinfo">长期投资精选 <span>持续价值发现</span></h2>
			<span class="w3-line black"></span>
			<div class="row inner_w3l_agile_grids-1 mt-md-5 pt-4">
			  {% for funds in recommendfunds%}
				<div class="col-md-3 w3layouts_news_left_grid1">
					<div class="new_top">
						<i class="fas fa-home"></i>			
						<h3 class="mb-3 mt-3">{{ funds.name }}</h3>
						<p>{{ funds.comment }}</p>
						<h2 style="color:#FF0000">+{{ funds.total_return | floatformat:2}}% </h2>
						<p>近五年涨幅</p>
					</div>
				</div>
			  {% endfor %} 	
			</div>
			
	</div>   
</section>
<!-- //Products -->
	<!-- details -->
	<section class="details-books py-5">
		<div class="container py-md-4 mt-md-3">
		<h2 class="heading-agileinfo">基金信息列表<span>持续价值发现</span></h2>
			<span class="w3-line black"></span>
			<div class="row inner_w3l_agile_grids-1 mt-md-5 pt-4">
                    <table id="fund_table" class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>基金代号</th>
                            <th>基金名称</th>
                            <th>净值(元)</th>
                            <th>累积值(元)</th>
                            <th>日涨跌(%)</th>
                            <th>月回报(%)</th>
                            <th>季回报(%)</th>
                            <th>总回报(%)</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for item in fundsvalues %}
                                <tr style="color: #FF0000">
                                    <td>{{ item.code_id }}</td>
                                    <td>{{ item.code.name }}</td>
                                    <td>{{ item.net_value | floatformat:2}}</td>
                                    <td>{{ item.sum_value | floatformat:2}}</td>
                                    <td>{{ item.daily_return | floatformat:2}}</td>
                                    <td>{{ item.month_return | floatformat:2}}</td>
                                    <td>{{ item.quarter_return | floatformat:2}}</td>
                                    <td>{{ item.total_return | floatformat:2}}</td>
                                    <td style="vertical-align: middle">
										<a href="{% url 'funds:fund_info' item.code_id %}">详情</a>
                                    </td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'pagination.html' with page=fundsvalues %}
</div> 

           </div>
		</div>
	</section>
	<!-- //details -->

<!-- news -->
<!--	<section class="wthree-row w3-about py-5">-->
<!--		<div class="container py-md-4 mt-md-3">-->
<!--			<h3 class="heading-agileinfo">财经资讯<span>持续价值发现</span></h3>-->
<!--			<span class="w3-line black"></span>-->
<!--			<div class="card-deck mt-md-5 pt-5">-->
<!--				  <div class="card">-->
<!--					<img src="{% static 'images/g7.jpg' %}" class="img-fluid" alt="Card image cap">-->
<!--					<div class="card-body w3ls-card">-->
<!--					  <h5 class="card-title">明天中午吃什么？</h5>-->
<!--					  <p class="card-text mb-3 ">没想好</p>-->
<!--					</div>-->
<!--					<div class="card-footer">-->
<!--					  <small class="text-muted">中国网财经2021-11-12</small>-->
<!--					</div>-->
<!--				  </div>-->
<!--				  <div class="card">-->
<!--					<img src="{% static 'images/g6.jpg' %}" class="img-fluid" alt="Card image cap">-->
<!--					<div class="card-body w3ls-card">-->
<!--					  <h5 class="card-title">曲盛伟：新能源行业蕴含巨大成长空间</h5>-->
<!--					   <p class="card-text mb-3 ">不想改了</p>-->
<!--					</div>-->
<!--					<div class="card-footer">-->
<!--					  <small class="text-muted">中国证券报2021-11-12</small>-->
<!--					</div>-->
<!--				  </div>-->
<!--				  <div class="card">-->
<!--					<img src="{% static 'images/g8.jpg' %}" class="img-fluid" alt="Card image cap">-->
<!--					<div class="card-body w3ls-card">-->
<!--					  <h5 class="card-title">吴越：看好这两大农业核心子行业</h5>-->
<!--					   <p class="card-text mb-3">在嘉实基金大消费研究总监吴越看来，经历大幅下跌之后，农业板块已经呈现出底部企稳的迹象，长期看好生猪养殖和种子两大农业核心子行业。</p>-->
<!--					</div>-->
<!--					<div class="card-footer">-->
<!--					  <small class="text-muted">中国证券报·中证网2021-11-12</small>-->
<!--					</div>-->
<!--				  </div>-->
<!--				</div>-->
<!--            </div>-->
<!--        </section>-->
<!--&lt;!&ndash; //news &ndash;&gt;-->
{% endblock %}
