{% load static %}
<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<title>基金</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<!-- Bootstrap Core CSS -->
	<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
	<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
	<!-- pop up box -->
	<link href="{% static 'css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome icons -->
	<link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet">
	<!-- //Custom Theme files -->
	<!-- online fonts -->
	<!-- titles -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
	<!-- body -->
	<link href="http://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">
</head>

<body>
	
	<!-- header -->
	<header>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light">
				<h1>
					<a class="navbar-brand text-capitalize" href="index.html">
						基金投资
					</a>
				</h1>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav text-center  ml-lg-auto">
						<li class="nav-item active  mr-3">
							<a class="nav-link" href="index.html">主页
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item  mr-3">
							<a class="nav-link" href="about.html">我的基金</a>
						</li>
						<li class="nav-item  mr-3">
							<a class="nav-link" href="services.html">基金详情</a>
						</li>
<!--						<li class="nav-item dropdown mr-3">-->
<!--							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"-->
<!--							    aria-expanded="false">-->
<!--								基金分析-->
<!--							</a>-->
<!--							<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--								<a class="dropdown-item" href="typography.html">基金评价</a>-->
<!--								<a class="dropdown-item" href="gallery.html">对比分析</a>-->
<!--							</div>-->
<!--						</li>-->
						<li class="nav-item">
							<a class="nav-link" href="contact.html">关于我们</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<!-- //header -->
	<!-- banner -->
	<section class="banner">
		<div class="callbacks_container">
			<ul class="rslides" id="slider3">
				<li>
					<div class="slider-info bg1">
						<div class="banner-text container">
							<h4 class="movetxt text-left mb-3 agile-title text-capitalize"></h4>
							<p class="text-white mb-3">风险提示：基金投资需谨慎</p>
							<a class="bt text-capitalize" href="about.html" role="button"> 发现 
								<i class="fas fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</li>
				<li>
					<div class="slider-info bg2">
						<div class="banner-text container">
							<h4 class="movetxt text-left mb-3 agile-title text-capitalize">视野无界限，时代创价值</h4>
							<p class="text-white mb-3">风险提示：基金投资需谨慎</p>
							<a class="bt text-capitalize" href="about.html" role="button"> 发现
								<i class="fas fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</li>
				<li>
					<div class="slider-info bg3">
						<div class="banner-text container">
							<h4 class="movetxt text-left mb-3 agile-title text-capitalize">丰收之选，为你而来</h4>
							<p class="text-white mb-3">风险提示：基金投资需谨慎</p>
							<a class="bt text-capitalize" href="about.html" role="button"> 发现
								<i class="fas fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<!-- //banner -->
	<!-- Products -->
	<section class="services py-5">
		<div class="container py-md-4 mt-md-3"> 
			<h2 class="heading-agileinfo">长期投资精选 <span>持续价值发现</span></h2>
			<span class="w3-line black"></span>
			<div class="row inner_w3l_agile_grids-1 mt-md-5 pt-4">
			  {% for funds in recommendfunds%}
				<div class="col-md-3 w3layouts_news_left_grid1">
					<div class="new_top">
						<i class="fas fa-home"></i>			
						<h3 class="mb-3 mt-3">{{ funds.name }}</h3>
						<p>{{ funds.comment }}</p>
						<h2>{{ funds.total_return }}</h2>
						<p>近五年涨幅</p>
					</div>
				</div>
			  {% endfor %} 	
			</div>
			
	</div>   
</section>
<!-- //Products -->
	<!-- details -->
	<section class="details-books py-5">
		<div class="container py-md-4 mt-md-3">
		<h2 class="heading-agileinfo">基金展示区<span>持续价值发现</span></h2>
			<span class="w3-line black"></span>
			<div class="row mt-md-5 pt-4">
			<div class="col-lg-6 agileits_updates_grid_right">
					<div id="accordion">
					  <div class="card w3l-acd">
						<div class="card-header wl3_head" id="headingOne">
						  <h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							 <span class="fa fa-check mr-2" aria-hidden="true"></span>
									Choose Loan Amount
							</button>
						  </h5>
						</div>
						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
						  <div class="card-body">
							<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
						  </div>
						</div>
					  </div>
					  <div class="card w3l-acd">
						<div class="card-header wl3_head" id="headingTwo">
						  <h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							 <span class="fa fa-check mr-2" aria-hidden="true"></span>
									 Get Your Loan Approved
							</button>
						  </h5>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
						  <div class="card-body">
							<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
						  </div>
						</div>
					  </div>
					  <div class="card w3l-acd">
						<div class="card-header wl3_head" id="headingThree">
						  <h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							 <span class="fa fa-check mr-2" aria-hidden="true"></span>
									For New Home Purchase
							</button>
						  </h5>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
						  <div class="card-body">
							<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
						  </div>
						</div>
					  </div>
					</div>
			</div>
			</div>
		</div>
	</section>
	<!-- //details -->

<!-- news -->
<!--	<section class="wthree-row w3-about py-5">-->
<!--		<div class="container py-md-4 mt-md-3">-->
<!--			<h3 class="heading-agileinfo">财经资讯<span>持续价值发现</span></h3>-->
<!--			<span class="w3-line black"></span>-->
<!--			<div class="card-deck mt-md-5 pt-5">-->
<!--				  <div class="card">-->
<!--					<img src="images/g7.jpg" class="img-fluid" alt="Card image cap">-->
<!--					<div class="card-body w3ls-card">-->
<!--					  <h5 class="card-title">Smart Moving Tips</h5>-->
<!--					  <p class="card-text mb-3 ">This is a longer card with supporting text below as a natural lead-in to additional content.</p>-->
<!--					</div>-->
<!--					<div class="card-footer">-->
<!--					  <small class="text-muted">Last updated on May 18, 2018</small>-->
<!--					</div>-->
<!--				  </div>-->
<!--				  <div class="card">-->
<!--					<img src="images/g6.jpg" class="img-fluid" alt="Card image cap">-->
<!--					<div class="card-body w3ls-card">-->
<!--					  <h5 class="card-title">A Big Time Saver</h5>-->
<!--					   <p class="card-text mb-3 ">This is a longer card with supporting text below as a natural lead-in to additional content.</p>-->
<!--					</div>-->
<!--					<div class="card-footer">-->
<!--					  <small class="text-muted">Last updated on May 18, 2018</small>-->
<!--					</div>-->
<!--				  </div>-->
<!--				  <div class="card">-->
<!--					<img src="images/g8.jpg" class="img-fluid" alt="Card image cap">-->
<!--					<div class="card-body w3ls-card">-->
<!--					  <h5 class="card-title">Is Now the Time to Fix?</h5>-->
<!--					   <p class="card-text mb-3">This is a longer card with supporting text below as a natural lead-in to additional content.</p>-->
<!--					</div>-->
<!--					<div class="card-footer">-->
<!--					  <small class="text-muted">Last updated on May 18, 2018</small>-->
<!--					</div>-->
<!--				  </div>-->
<!--				</div>-->
<!--            </div>-->
<!--        </section>-->
<!-- //news -->
<!--footer-->
	<footer>
		<div class="container py-md-4 mt-md-3">
			<div class="row footer-top-w3layouts-agile py-5">
				<div class="col-lg-3 col-md-6 col-sm-6 footer-grid">
					<div class="footer-title">
						<h3>关于我们</h3>
					</div>
					<div class="footer-text">
						<p>持续价值发现</p>

					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 footer-grid">
					<div class="footer-title">
						<h3>联系我们</h3>
					</div>
					<div class="footer-office-hour">
						<ul>
							<li class="hd">地址 :</li>
							<li>No.27 - 5549436 street lorem, Newyork City, USA</li>

						</ul>
						<ul>
							<li class="hd">Phone:+ 1 (234) 567 8901</li>
							<li class="hd">Email:
								<a href="mailto:info@example.com">info@example.com</a>
							</li>
							<li class="hd">Fax: 1(234) 567 8901</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 footer-grid">
					<div class="footer-title">
						<h3>订阅</h3>
					</div>
					<p>请输入您的email地址.</p>
					<form action="#" method="post" class="newsletter">
						<input class="email" type="email" placeholder="您的 email..." required="">
						<button class="btn1">
							<i class="far fa-envelope"></i>
						</button>
					</form>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</footer>
	<!---->
	<div class="copyright py-3">
		<div class="container">
			<div class="copyrighttop">
				<ul>
					<li>
						<h4>联系我们:</h4>
					</li>
					<li>
						<a class="facebook" href="#">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
					<li>
						<a class="facebook" href="#">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li>
						<a class="facebook" href="#">
							<i class="fab fa-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a class="facebook" href="#">
							<i class="fab fa-pinterest-p"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="copyrightbottom">
				<p>Copyright &copy; 2021.<a href="http://localhost/" >基金网站</a>
				</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">基金管理</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		 <div class="agileits-w3layouts-info">
			<img src="{% static 'images/g6.jpg' %}" class="img-fluid" alt="" />
			<p>Duis venenatis, turpis eu bibendum porttitor, sapien quam ultricies tellus, ac rhoncus risus odio eget nunc. Pellentesque ac fermentum diam. Integer eu facilisis nunc, a iaculis felis. Pellentesque pellentesque tempor enim, in dapibus turpis porttitor quis. </p>
		</div>
	</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- //Modal -->
<!-- js-->
	<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
<!-- js-->
<!-- Banner Responsiveslides -->
	<script src="{% static 'js/responsiveslides.min.js' %}"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider3").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
<!-- // Banner Responsiveslides -->
<!-- stats -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js/jquery.countup.js' %}"></script>
		<script>
			$('.counter').countUp();
		</script>
<!-- //stats -->
<!--pop-up-box -->
	<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});
		});
	</script>
	<!-- //pop-up-box -->
	<!-- Bootstrap Core JavaScript -->
	<script src="{% static 'js/bootstrap.js' %} ">
	</script>
	<!-- //Bootstrap Core JavaScript -->
</body>
</html>